.h1 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 200px;
  padding-bottom: 400px;
  text-align: center;
}

body {
  font-family: 'PT Serif', serif;
}

.navbar-icon {
  color: black;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.fa.fa-navicon {
  color: black;
}

.about-txt {
  color: #ededed;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 200px;
  padding-bottom: 2400px;
  text-align: center;
}

.about-txt h2 {
  padding-bottom: 100px;
}

.about-txt .paragraph {
  width: 500px;
  margin: auto;
}

.about-bg { 
  /* The image used */
  background-image: url("black-frost-ripples-1280.jpg");
/*  height: 1500px;
  width: 1500px;*/
}