.wrapper {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 1000px;
}

.h1 {
  padding-left: 100px;
  padding-right: 50px;
  padding-top: 200px;
  padding-bottom: 400px;
  width: 100%;
  text-align: center;
}

mark.blue {
  color: #00d1c9;
  text-shadow:
    -.1px 0px 0 #009ece,
    0px -.1px 0 #009ece,
    -.1px 0px 0 #009ece,
    0px .1px 0 #009ece;
  background: none;
  padding: 0;
}

body {
  font-family: 'PT Serif', serif;
}

.navbar-icon {
  color: #00d1c9;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.fa.fa-navicon {
  color: #00d1c9;
}

#page1 {
  height: 1000px;
}

#page1 .about-txt {
  color: #000;
  height: 288px;
  padding-left: 100px;
  padding-right: 50px;
  padding-top: 150px;
  padding-bottom: 0px;
  text-align: center;
}

#page1 .about-txt .about-me-h2 {
  height: 40px;
}


#page1 .about-txt .paragraph {
  width: 400px;
  padding-top: 100px;
  color: #2f2f2f;
  width: 200px;
}

#page1 .about-txt #who-dis {
  width: 320px;
  padding-right: 80px;
  padding-left: 45px;
}

#page1 .about-txt #paragraph {
  width: 450px;
  padding-right: 150px;
}


#page1 .about-txt #text {
  width: 300px;
}

#page1 #front-end-head {
  padding-left: 980px;
}

#page1 #front-end-text {
  padding-left: 980px;
}

#page1 #back-end-head {
  padding-left: 980px;
  padding-top: 150px;
}

#page1 #back-end-text {
  padding-left: 980px;
}

#page1 .about-txt #profilepic {
  padding-bottom: 10px; 
  padding-left: 15px;
  width: 275px;
}

#page1 .about-txt #profilepic img {
  border-radius: 50%;
  text-align: center;
}


#page1 #border-top {
  border-top: 3px solid red;
  border-top-color: #00d1c9;
}

#page1 .about-bg { 
  height: 1000px;
  background-image: url("lightgreybackground.jpg");
}

#page1 #top {
  background: #a5ebff;
  position: fixed;
}

#page2 {
  height: 1000px;
}

#page2 .cards {
  margin-top: 100px;
}

#page2 .projects-h2 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}